<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>김경동</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">
		<!-- Header -->
			<header id="header">
				<a class="logo" href="/">Industrious</a>
				<nav>
                    <a class="login" href="javascript:login()">
                        login
                    </a> 
                    <script>
					  function login(){
						  var url = "login.html";
						  var name = "popup test";
						  var option = "width = 500, height = 600, top = 100, left = 200, location = no"
						  window.open(url,name,option);
					  }
				  </script>
                    
				</nav>
			</header>
				
				
		<!-- Nav -->
			<div class="mr-auto">
              <ul id="main-menu">
                <li>
                  <a href="#introduce" class="menuLink">프로젝트 소개</a>
                </li>
                <li>
                  <a href="#" class="menuLink">참여기업</a>
                  <ul id="sub-menu">
                    <li><a href="#">생산자</a></li>
                    <li><a href="#">유통자</a></li>
                    <li><a href="#">프렌차이즈</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="menuLink">식품</a>
                    <ul id="sub-menu">
				<script>
					  function gold(){
						  var url = "gold.html";
						  var name = "popup test";
						  var option = "width = 500, height = 600, top = 100, left = 200, location = no"
						  window.open(url,name,option);
					  }
				  </script>
                    <li><a href="javascript:gold()">후라이드치킨</a></li>
						<script>
					  function seasoning(){
						  var url = "seasoning.html";
						  var name = "popup test";
						  var option = "width = 500, height = 600, top = 100, left = 200, location = no"
						  window.open(url,name,option);
					  }
				  </script>
                    <li><a href="javascript:seasoning()">양념치킨</a></li>
						<script>
					  function paris(){
						  var url = "paris.html";
						  var name = "popup test";
						  var option = "width = 500, height = 600, top = 100, left = 200, location = no"
						  window.open(url,name,option);
					  }
				  </script>
                    <li><a href="javascript:paris()">빠리치킨</a></li>
                  </ul>
                  </li>
                </ul>
        </div>
		<div>
			
				<img src="../images/goldFried.jpg" width="500" height="400" border="0">
				
			<h1>BBQ</h1>
		</div>
		
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>