<!DOCTYPE html>
<!--
  Industrious by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <header id="header">
      <a class="logo" href="/">Industrious</a>
    </header>
    <title>김경동</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <form action="/signin" method="post">
      <label class="legend">사용할 아이디</label>
      <input name="id" type="text" />
      <label class="legend">비밀번호</label>
      <input name="passwprd" type="password" />
      <label class="legend">비밀번호확인</label>
      <input name="passwprd2" type="password" />
      <input type="submit" value="회원가입" />
    </form>
  </body>
</html>
